<p id="notice"><%= notice %></p>

<div id="starter" class="container">
  <%= render 'post', post: @post %>

  <% if @post.user.id == current_user.id %>
    <div class="text-center edit-links">
      <%= link_to 'Cancel', posts_path %> |
      <%= link_to 'Edit', edit_post_path(@post) %>
    </div>
  <% else %>
    <div class="text-center edit-links">
      <%= link_to 'Cancel', posts_path %>
    </div>
  <% end %>




</div>
